.sec2{
    background-image: url(IMAGE1.jpg);
    background-size: cover;
    height: 800px;
    text-align: center;
     
}
.bx1{
    padding: 150px 0px;
}
.sec3{
    /* height: 200px; */
    /* background-color: black; */
    text-align: center;
    background-image: url(brisket123.jpg);
    background-size: cover;
      /* background-repeat: no-repeat; */
    /* height: 300px; */

}
.opacity{
     background-color: rgba(0, 0, 0, 0.877);
    height: 100%;
    width: 100%;
}
/* .inbox1,.inbox4{
    
    height: 200px;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px 0px;
    font-style: italic;
} */
.lines,.line1,.line2{
    height: 2px;
    background-color: rgba(255, 255, 255, 0.411);
    width: 150px;
    margin: auto;
}
.line0{
    height: 2px;
    background-color: rgba(255, 255, 255, 0.411);
    width: 300px;
    margin: auto;   
}
/* .line1{
    height: 2px;
    background-color: rgba(255, 255, 255, 0.411);
    width: 150px;
    margin: 30px 200px;
}
.line2{
    height: 2px;
    background-color: rgba(255, 255, 255, 0.411);
    width: 200px;
    margin: auto;
} */
.bx3{
    padding: 50px;
}
#sec4{
    background-image: url(restorant5.avif);
    background-size: cover;
    height: 800px;
    text-align: center;
    padding: 300px 0px;
}
#sec5{
    background-image: url(bsisket.jpg);
    background-size: cover;
    height: 800px;
    text-align: center;
    padding: 200px 0px;
}
#sec6{
    background-image: url(bsisket.jpg);
    background-size: cover;
    text-align: center;
    
    /* padding: 75px 300px 0px; */
}
.overlay{
    background-color:rgba(255, 255, 255, 0.788);
}
/* .line3{
    height: 2px;
    background-color: rgba(11, 8, 1, 0.753);
    width: 100px;
    margin: 30px 200px;
}
.line4{
    height: 2px;
    background-color: rgba(6, 4, 1, 0.941);
    width: 150px;
    margin: 30px 200px;
} */
 .line_container{
    display: flex;
    justify-content: center;
 }
.hr1{
    width: 20%;
    height: 2px;
    background-color: white;
}
#sec7{
    background-image:url( coffee\ bottle\ 1.jpg);
    background-size: cover;
    text-align: center;
    height: 800px;
    padding: 300px 0px;
}
#sec8{
    background-image: url(men\ and\ women.jpg);
    background-size: cover;
    height: 700px;
    padding: 300px
     0px;
    text-align: center;
}
#sec9{
    background-image: url(frd.jpg);
    background-size: cover;
  
}
.overlay1{
    background-color: rgba(245, 222, 179, 0.895);
    text-align: center;
    padding: 100px 0px 0px;
}
/* .line5{
    height: 2px;
    background-color:  white;
    width: 100px;
    margin: 30px 200px;
}
.line6{
    height: 2px;
    background-color:  white;
    width: 150px;
    margin: 30px 200px;
}
.line7{
    height: 2px;
    background-color: white;
    width: 200px;
    margin: 30px 200px;
} */
#sec10{
    background-image: url(cook\ balck.webp);
    background-size: cover;
    height: 600px;
    text-align: center;
    padding: 100px 0px;
}
#sec11{
    background-color: rgb(45, 43, 43);
    padding: 100px 0px;
}
/* .inbox4{
    padding: 100px 0px;
    text-align: center;
    min-height: 300px;
} */
.p1{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(r\ image.jpg);
    background-size: cover;
    height: 300px;
    text-align: center;
    padding: 100px 0px 0px;
}

.sec12{
    background-color: black;
    height: 100px;
 
     
}
.pic{
    height: 30px;  
}
.inbox1,.inbox4,.inbox7{
    text-align: center;
    padding: 100px 0px; 
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}
.icon{
    height: 30px;
}
.lines,.line1{
    height: 2px;

}.inbox10{
    text-align: center;
}
.line{
    background-color: white;
    height: 2px;
    width: 50%;
    margin: auto;
}